@import "tailwindcss";
/* Tailwind theme block */
:root {
  font-optical-sizing: auto !important;
  overflow-x: hidden !important;
}
* {
  scroll-behavior: smooth !important;
}
@theme {
  --font-urbanist: "Urbanist", sans-serif;
  --animate-fadeInUp: fadeInUp 0.5s ease-in-out forwards;
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
